*{
    padding: 0;
     margin: 0;
}
 a{
    text-decoration: none;
}
body{
    height: 6000px;
   
}
.container{
    width:70%;
    margin:auto;
    
}
.navbar .container{
    display: flex;
    align-items: center;
}
.navbar{
    display: flex;
    text-align: center;
    background-color: rgba(0, 0, 0,0.5);
    position: sticky;
    top:0;
}

.navbar .logo{
    width:50%;
}
.navbar .list{
    flex-grow: 1;
}
.list ul{
    display: flex;
    list-style-type: none;
    gap:10px;
    justify-content: flex-end;

}

.list ul a{
    color: #fff;
    text-transform: capitalize;
}
.header{
    background-color: rgb(75,75,75);
    color: #fff;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;

    
}
 .header-content{
  
    background-color:  rgb(32, 32, 32);
padding: 40px;
border-top:1px solid  red ;
}
.navbar .logo img{
    width: 150px;
}